<div class="dashboard-container">
  <div class="dashboard-header">
    <h2>
      <mat-icon>dashboard</mat-icon>
      Tableau de bord
    </h2>
  </div>

  <div class="dashboard-cards-hierarchy-row">
    <ng-container *ngFor="let item of dashboardItems; let last = last">
      <mat-card class="dashboard-card" [routerLink]="item.route" [attr.data-category]="item.category">
        <mat-card-content class="dashboard-card-content">
          <mat-icon class="dashboard-icon">{{ item.icon }}</mat-icon>
          <h3>{{ item.title }}</h3>
        </mat-card-content>
      </mat-card>
      <mat-icon *ngIf="!last" class="dashboard-arrow-icon">arrow_forward</mat-icon>
    </ng-container>
  </div>
</div>
